/* .mapDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
} */
#container {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
.mapDiv {
  float: left;
  height: inherit;
  width: 80%;
}
#panel {
  float: right;
  height: inherit;
  width: 20%;
}
#headingBlock {
  margin: 0;
}
.radiusSlider {
  width: 100%;
  height: 50px;
}
